body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 100px;
}
.nameHighlight{
    color: orange;
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5% ;
    margin-top: 5%;
    padding-left: 2%;
    font-size: 40px;


}
.half_width img{
    width: 60%;
}